@model webSitem.Models.sinif.egitim

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Eğitim Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.baslik, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.baslik, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.baslik, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ilkokul, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ilkokul, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ilkokul, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ortaokul, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ortaokul, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ortaokul, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.lise, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.lise, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lise, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.uni, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.uni, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.uni, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.bolum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.bolum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.bolum, "", new { @class = "text-danger" })
        </div>
    </div>




    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<br />

<div>
    <td><a href="/egitims/Index" class="btn btn-danger">Geri Dön</a></td>
</div>
